.tiles-title {
    margin: auto;
    text-align: center;
}

.tiles-container {
    display: flex;
    flex-direction: row;
    margin: 2.5rem auto;
    justify-content: space-around;
}


.tile {
    display: flex;
    flex: 1;
    padding: 0 1rem 1rem 1rem;
    flex-direction: column;
    margin: 0 2rem;
    background: #11cfc5;
    border: 5px solid #f56eca;
    border-radius: 10px;
}

.tile-content {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #11cfc5;
}

.tile-content img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.tile-footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #f56eca;
    border-radius: 0px 0px 10px 10px;
    flex-direction: column;
}

.tile-footer a {
    align-content: center;
    width: 100%;
    margin: 0.5rem 0;
}

.tile-footer button {
    padding: 1rem;
    width: 10rem;
    background-color: #11cfc5;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    width: 100%
}

.tile-footer button:hover {
    background-color: #f56eca;
}

.tile-footer button:active {
    position: relative;
    top: 1px;
}

@media screen and (max-width: 1320px) {
    .tiles-container {
        flex-direction: column;
    }

    .tile {
        margin: 1rem 2rem;
    }
}
