@font-face { font-family: "Brandon Grotesque"; src: url('./fonts/BrandonGrotesque.otf'); } 
@font-face { font-family: "OpenSans"; src: url('./fonts/OpenSans.ttf'); } 

body {
  font-family: "Brandon Grotesque";
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
