/* Contains media and text divs */
.container-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2.5rem auto;
}

/* Contains media, first child of container-div*/
.media-div {
    flex: 1;
}

/* Contains text, second child of container-div*/
.content-div {
    flex: 1;
}

.media-img {
    width: 100%
}

.socials-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.socials-list {
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.socials-item {
    display: inline;
    margin: 0.5rem;
}

.socials-item a img {
    max-width: 15rem;
    filter: invert(72%) sepia(36%) saturate(4681%) hue-rotate(285deg) brightness(100%) contrast(93%);
}

#cv-buttons {
    display: flex;
    flex-direction: row;
    width: 75%
}

#cv-buttons a {
    flex: 1;
    margin: 1rem;
}

#cv-buttons button {
    padding: 1rem;
    width: 100%;
    background-color: #11cfc5;
	border:2px solid #11918b;
	cursor:pointer;
	font-weight:bold;
    color: #fff;
}

#cv-buttons button:hover {
    background-color:#f56eca;
}
#cv-buttons button:active {
    position:relative;
	top:1px;
}

@media screen and (max-width: 640px) {
    .container-div {
        flex-direction: column;
    }

    #cv-buttons {
        flex-direction: column;
        width: 100%;
    }

    #cv-buttons a {
        margin: 1rem;
    }


}

